* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#navbar {
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
}

#home {
  width: 70%
}

#about {
  width: 15%;
  text-align: right;
}

#contact {
  width: 15%;
  text-align: right;
}


#map {
  height: 100vh;
  width: 100vw;
}
